<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

<bean id="user" class="testshop2.test_proxy.spring.UserSerivce2Impl2"/>

<bean id="aspect" class="testshop2.test_proxy.spring.MyAspect2"/>

    <aop:config>
        <aop:pointcut id="h1" expression="execution(* testshop2.test_proxy.spring.UserSerivce2Impl2.*(..))"/>
        <aop:aspect ref="aspect">
            <aop:around method="testProxySpring" pointcut-ref="h1"/>
            <aop:before method="beforeMethod" pointcut-ref="h1"/>
            <aop:after method="afterMethod" pointcut-ref="h1"/>
            <aop:after-returning method="afterReturningMethod" pointcut-ref="h1" returning="obj"/>
            <aop:after-throwing method="afterThrowingMethod" pointcut-ref="h1" throwing="throwable"/>
        </aop:aspect>
    </aop:config>


<import resource="classpath:tx_conf.xml"/>
</beans>