<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties" />
    <typeAliases>
        <typeAlias type="testshop.textmybatis.bean.Student" alias="Student" />
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jc.driver}"/>
                <property name="url" value="${jc.url}"/>
                <property name="username" value="${jc.username}"/>
                <property name="password" value="${jc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
<!--        annotation方式 给它annotation所在类的路径-->
        <mapper class="testshop.textmybatis.dao.TeacherDao" />

        <!--        xml配置方式（引入外部的xml配置文件）-->
        <mapper resource="mapper/StudentMapper.xml" />
    </mappers>
</configuration>